
# Working Files - not ready to be shared
sameh*
sameh/
*sameh*

data*
data/
*data*

#Ipython Notebook
.ipynb_checkpoints

#Ipython Notebook Temp files
*copy*.ipynb
untitled*
untitled*.ipynb

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OSX Filesystem thing
.DS_Store

# Ignore temp files from other editors
*~
.#*
.*.sw?
.idea/
*.dpkg-*
*.exe
*.ZILESAVE
